/** CSS Variables **/
:root {

  /** Fonts **/
  --headline-font-weight: 600;
  --headline-font-family: Poppins;
  --regular-font-family: Poppins;
  --regular-font-weight: 400;
  --headline-font-size: 1.6rem;
  --regular-font-size: 1rem;
  /** Colors **/
  --accent-background-color: linear-gradient(159.13deg, #009496 -24.13%, #8AFFFD 132.21%);
  --accent-font-color: #fff;
  
  --regular-background-color: #fff;
  --regular-font-color: #000;

  --primary-color: #009B9C;
  --primary-font-color: #fff;

  /** Input Colors **/
  --input-background: #fff;
  --input-border: 1px solid #E5E0EB;
  --input-border-radius: 2px;
  --button-border: 2px solid #009B9C;
  --button-border-radius: 4px;
  --button-hover-background: #0c7070;
  /** Distances **/
  --input-padding: 12px;

  --small-distance: 20px;
  --medium-distance: 30px;
  --big-distance: 60px;

  --max-container-width: 900px;
}